/*** Define Skin ***/
@mixin header-skin ($color__main, $color__acc1, $color__acc2, $color__dark){
    .site-header {
        width: 100%;
        position: relative;
        font-family: $font__sans;
        color: $color__acc2;

        text-align: right;
    }

    .brand-wrapper {
        display: block;
        width: 100%;
        box-sizing: border-box;
        background: radial-gradient(ellipse at center, rgba(lighten($color__main, 25%), .82) 0%, rgba(darken($color__main, 25%), .82) 100%);
        background-attachment: fixed;

        @include small {
            min-height: 8em;
        }

        @include tablet {
          min-height: 8em;  
        }

        @include desktopPlus {
           min-height: 10em;
        }
    }

    .site-branding {
        width: 100%;
        max-width: $size__page-width-max;
        margin: 0 auto;
        position: relative;

        p.show-date {
            font-weight: 500;
            font-size: 2.5em;
            text-align: center;
            margin: .25em 0 0;
            padding-bottom: .5em;
            text-shadow: 2px 2px $color__dark;
        }

        @include tabletPlus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            flex-wrap: wrap; // push date down
        }
        
        @include tablet {

            p.show-date {
                flex-basis: 30%;
               // text-align: right;
                max-width: 10rem;
                display: block;
                padding: 0;
                font-size: .9em;
                //outline: 1px solid red;
                white-space: nowrap;
                //transform: rotate(90deg);
            }
        }

        @include desktopPlus {
            
            align-items: flex-start;
            
            padding: 1em 2em;
            
            p.show-date {
                font-size: 1.5em;
                font-weight: 300;
                padding: 0;
                flex-basis: 100%;
                margin-left: 0;
                flex-basis: 100%;
                margin-top: -2em;
                text-align: right;
              //position: absolute;
            }
        }
        
    }

    .site-logo-area {
        display: block;
        float: left;
        width: 25%;
        min-width: 4em;
        min-height: 5.5rem;

        a {
            display: block;

            img {
                display: block;
                 width: 100%;
            }
        }

        @include mobile {
            padding: 1em;
            width: 100%;
            display: flex;
            background-color: rgba($color__acc1, .9);
            justify-content: space-between;
            align-items: center;

            a {
                width: 25%;
                min-width: 4em;
                box-sizing: border-box;
            }

            /*&::after {
                width: 75%;
                position: relative;
                content:"JG&M Expo";
                font-weight: 700;
                display: block;
                text-align: center;
                font-size: 3em;
                line-height: 1em;
                color: $color__dark;
            }*/
        }

        @include small {
            &::after {
                font-size: 2em;
            }
        }

        @include tablet {
            float: none;
            max-width: 10rem;
        }

        @include desktopPlus {
            float: none;
            width: 30%;
        }

    }

    .site-branding-text {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: .9em;
        text-shadow: 2px 2px $color__dark;

        p.site-title {
            font-size: $font-size__h1;
        }

        @include mobile {
            width: 100%;
            padding: 2.5em 2.5em 0;
            text-align: center;
            box-sizing: border-box;
        }

        @include small {
            font-size: .6em;
        }

        @include tablet {
            font-size: 1em;
            text-align: center;
            width: 75%;
        }

        @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-width + 100px}) {
            font-size: .8em;
        }

        @include tabletPlus {
            float: none;
            justify-content: center;
            flex-direction: column;
        }

        @include desktopPlus {
            font-size: 1.067em;
            flex-direction: column-reverse;
        }

    }

    .site-title{
        display: block;
        font-weight: 300;
        line-height: 1em;
        margin: 0;
        padding: 0;


        @include small {
            font-weight: 900;
            margin-bottom: .25em;
        }

        @include desktopPlus {
            font-weight: 900;

        }

        a {
            color: $color__acc2;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

        }
    }

    .site-description {
        margin: 0;
        padding: 0;
        width: 100%;

        @include small {
            font-size: 2.2em;
            font-weight: 300;
        }

        @include tablet {
            font-size: 1.125em;
        }

        @include desktopPlus {
            font-size: 1.16em;
        }
    }   
}

@mixin home-header-skin ($color__main, $color__acc1, $color__acc2, $color__dark){
    .site-header {
        width: 100%;
        position: relative;
        font-family: $font__sans;
        color: lighten($color__main, 5%);
        
        font-size: .8em;
        font-weight: 400;
        padding: .5em 1em;

        
        @include tablet {
            font-size: 1.65em;
            
        }

        @include desktopPlus {
            font-size: 2em;
        }
            
        .site-branding {
            position: relative;
            max-height: 10em;
            overflow: hidden;
            display: flex;
            
            //outline: 1px solid green;
            
            .site-logo-area {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                min-height: 100%;             
                width: 30%;                
                max-width: 10rem;
                
                @include tablet {
                    max-width: 8rem;
                }
                
                a {
                    display: block;
                    
                    img {
                        display: block;
                        width: 100%;
                        align-self: center;
                    }
                }
            }

            .site-branding-text {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-align: center;
                
                padding: .25em 2em;
                text-shadow: 1px 1px rgba($color__dark, .82);

                .site-title {
                    display: block;
                    margin: 0;
                    
                    @include screen-reader-text;
                    
                    a {
                        font-weight: 300;
                        
                        color: $color__main;
                        text-decoration: none;

                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }

                    }
                }
                
                .site-description {
                    margin: 0;
 
                }
            }
        }
    }
}

/*** Apply Skin to Template Pages ***/
body{
    &.page-template-page-home {
        @include home-header-skin($color__skin-main, $color__skin-acc1, $color__skin-acc2, $color__skin-dark);
    }
    
    &.page-template-default {
        @include header-skin($color__skin-main, $color__skin-acc1, $color__skin-acc2, $color__skin-dark);
    }
    
    &.page-template-denver-page {
        @include header-skin($color__skin2-main, $color__skin2-acc1, $color__skin2-acc2, $color__skin2-dark);
    }
}