$font-size__h1: 3em;

h1, h2, h3, h4, h5, h6 {
	clear: both;
        font-family: $font__sans;
        color: $color__skin-main;
        
        a{
            color: $color__skin-main;
        }
}

h1 {
    font-size: $font-size__h1;
}

h2 {
    font-size: 2.6em;
        
    a{
        font-weight: 300;
        text-decoration: none;
        border-bottom: .05em solid transparent;
        
        &:hover, &:focus {
            border-bottom: .05em solid;
            color: lighten($color__skin-main, 10%);
        }
    }
}

h3 {
    font-size: 2.2em;
    
    a{
        font-weight: 300;
    }
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
}

h6 {
    font-size: 1.6em;
}