@import "media-queries";

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 20) * 1px;
	font-size: $sizeValue * 1.25rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Add Hamburger to element.
@mixin symbol-core($symbolpath) {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: url(#{$symbolpath});
    background-size: contain;
    background-position: center;
}

@mixin symbol-before($symbolpath, $margin:"0") {
    &::before {
        @include symbol-core($symbolpath);
        margin-right: unquote($margin);
    }
}

@mixin symbol-after($symbolpath, $margin:"0") {
    &::after {
        @include symbol-core($symbolpath);
        margin-left: unquote($margin);
    }
}