/*
@off-white: rgb(255,250,250);
@tuc-color: rgb(100,0,48);
@den-color: rgb(0,90,128);
@gold-yellow: rgb(255,235,50);

@tuc-bg-light: rgb(237,14,107);
@tuc-bg-med: rgb(128,5,50);
@tuc-bg-dark: rgb(31,0,27);
*/

$color__skin-main: rgb(100,0,48);
$color__skin-acc1: rgb(255,250,250);
$color__skin-acc2: rgb(255,235,50);
$color__skin-dark: rgb(0,0,0);

$color__header-light: rgb(237,14,107);
$color__header-dark: rgb(31,0,27);

$color__skin2-main: rgb(100,0,48);
$color__skin2-acc1: rgb(255,250,250);
$color__skin2-acc2: rgb(255,235,50);
$color__skin2-dark: rgb(0,0,0);

$color__skin2-header-light: rgb(237,14,107);
$color__skin2-header-dark: rgb(31,0,27);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
