a {
	color: lighten($color__skin-main, 18%);

	&:visited {
		color: lighten($color__skin-main, 12%);
	}
	&:hover,
	&:focus,
	&:active {
		color: lighten($color__skin-main, 25%);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}