.main-navigation {
    position: absolute;
    bottom: 0; left: 0;
    display: block;
    width: 100%;

    min-height: 2.5em;
    line-height: 2.5em;


    ul {
            display: none;
            list-style: none;
            max-width: $size__page-width-max;
            margin: 0 auto;
            padding-left: 0;

            ul { /* Sub Menu */
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                    float: left;
                    position: absolute;
                    top: 1.5em;
                    left: -999em;
                    z-index: 99999;
                    background-color: $color__skin-acc2;

                    ul {
                            left: -999em;
                            top: 0;
                    }

                    li {
                            &:hover > ul,
                            &.focus > ul {
                                    left: 100%;
                            }
                    }

                    a {
                            color: $color__skin-main;
                            width: 200px;
                    }

                    :hover > a,
                    .focus > a {
                        color: lighten($color__skin-main, 15%);
                    }

                    a:hover,
                    a.focus {
                    }
            }

            li:hover > ul,
            li.focus > ul {
                    left: auto;
            }
    }

    li {
            position: relative;
            margin-left: 1em;

            &:hover > a,
            &.focus > a {
            }
    }

    a {
            color: $color__skin-acc1;
            display: block;
            text-decoration: none;

            &:hover, &:focus {
                color: $color__skin-acc2;
            }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
    
    @include mobile {
        top: 0;
        padding: 1em;
        
        & > *:first-child {
            float: right;
        }
    }
    
    @include tabletPlus {
        background-color: $color__skin-dark;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
