/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2017, 7:11:25 PM
    Author     : Jim Smith
*/

/*********************/
/*     Home Page     */
/*********************/

body.page-template-landing-page {
  //background: #601240 url(_img/bg.jpg) fixed center;
  //background-size: cover;
  background-color: $color__skin-acc1;
  height: 100%;
  
    #wrapper {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      background-color: rgba($color__skin-acc1, .82);

      .brand-wrapper {
          background: transparent;
      }
      
      @include tabletPlus {
          display: flex;
          flex-direction: column;
          justify-content: center;
          
          header {
              margin-bottom: 1em;
          }
      }
      
      @import "modules/landing-page-gallery";
    }
    
    header {
        min-height: auto;
    }
    
    .site-branding {
        position: relative;
        display: flex;
        align-items: center;

        .site-logo-area {
            width: 35%;
            float: none;
            background: transparent;

            a{
                width: auto;
            }
        }

        .site-branding-text {
            width: 100%;
            text-align: center;
            
            .site-title {
                font-family: $font__sans;
                font-weight: 500;
                font-size: 2em;

                @include tabletPlus {
                    font-size: 2.8em;
                }
                
                @include desktopPlus {
                    font-size: 3.125em;
                }

                a {
                    color: $color__skin-main;
                }
            }
        }
    }
 
    nav {
        padding: 1rem;
        
        @include tabletPlus {
            display: flex;
            justify-content: space-around;
        }
        
        section {
            width: 100%;
            max-width: 400px;
            margin: 0 auto 2rem;
            
            
            @include tabletPlus {
                &:nth-child(odd){
                    margin-right: 2rem;
                }
            }
            
        }
        
        .show-location {
            padding: 0;
            margin: 0;
            text-align: right;
            line-height: 1em;
            
        }
        
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: .1em solid $color__skin-main;
            padding: 1em .25em;
            background-color: rgba($color__skin-acc1, .35);
            margin: 0;
            text-align: center;
            width: 100%;
            min-height: 12em;
            box-sizing: border-box;
            
            li {
                margin: 0;
                padding: 0;
                list-style: none;
                
                a {
                    &:link {
                        font-family: $font__sans;
                        font-size: 2em;
                        text-decoration: none;
                    }
                    &:hover, &:focus {
                        text-decoration: underline;
                        text-decoration: square;
                    }
                }
            }
        }
    }
}